/*

Curated by Kevin Chu for Noodle.sg
Last updated 27/4/15.

*/

@import url(http://fonts.googleapis.com/css?family=Roboto:100);

        body{
            background-color: #F2784B;
            color: #FDE3A7;
        }
        
        a{
            color: inherit;
            text-decoration: none;
        }
        
        div.container{
            font-family: 'Roboto', sans-serif;
            font-size: 2.5em;
            position: fixed; /* or absolute */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);  
        }
        
        div.footer{
            position: fixed; /* or absolute */
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, -50%);  
            font-family: 'Roboto', sans-serif;
            font-weight: 100; 
            font-size: 1.3em;
        }
        
        p.brand{
            color: #fff; 
            opacity: 1 !important;
            text-align: center;
            <!--display: inline;-->
        }
        
        p.headline{
            text-align: center;
            text-shadow: 2px 2px #EF4836;
            border: 2px solid #fff;
            font-size: 2em;
            <!--display: inline;-->
        }

        p.info{
            color: #fff;
            text-align: center;
            font-size: 0.4em;
            margin-top: -5%;
        }

        i.info{
            width: 10px !important;
            height: 10px !important;
        }
        
        p.footer{
            opacity: 0.5; 
            text-align: center;
        }